In [1]:
import numpy as np
import pandas as pd

In [2]:
data2 = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [3]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [1]:

pd.DataFrame(data2, index=["first",])

NameError: name 'pd' is not defined

In [5]:

pd.DataFrame(data2, index=["first", "second"])

        a   b     c
first   1   2   NaN
second  5  10  20.0