In [1]:
d = {'a': 1, 'b': 2, 'c': 3}

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
ser = pd.Series(data=d, index=['b', 'c'])

In [5]:
ser

b    2
c    3
dtype: int64

In [6]:
r = [1, 2]
ser = pd.Series(r, copy=False)
ser.iloc[0] = 999

In [7]:
r

[1, 2]

In [8]:
ser

0    999
1      2
dtype: int64

In [9]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "S10")])

In [10]:
data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

In [11]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'